#
# ====================
#    Migration file
# ====================
#
# How it works?
# - all empty lines are ignored
# - all lines what start by '#' character are ignored
# - all invalid lines are ignored
# - correct notation is "old_url = new_url"; 
#   spaces around equals sign are important 
# - function called in main function reads this file and compares
#   decoded client's query
# - url migration must be allowed in configuration file
# - redirect type is annmu::http::STATUS_301_MOVED_PERMANENTLY 
# - new url is builded by this way: url_base + "/" + new_url
#
# How to url migrations in application?
# - set "urlMigration = 1" in configuration file
#

my/old/url = /my/new/url
