#
# =========================
#    Configuration file
# =========================
#
# How it works?
# - all empty lines are ignored
# - all lines what start by '#' character are ignored
# - all invalid lines are ignored
# - correct notation is "key = value"; 
#   spaces around equals sign are important 
#
# How to see configuration readed by application?
# - set "developmentMode = 1"
# - open browser console and check it
#

# development mode
developmentMode = 1

# url migration (old addresses to new addresses)
urlMigration = 1

# prefix for DB tables and directories
prefix = site_

# the database information
dbAddr = tcp://localhost:3306
dbUser = admin
dbPass = admin
dbName = annmu
